HELP.md
.gradle
build/
gradle/wrapper/gradle-wrapper.jar
logback-spring/spring.log
!**/src/main/**/build/
!**/src/test/**/build/
src/main/resources/application.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.idea
__pycache__
.pyc
.egg-info
.pot
.py[co]
.py[tox]
.tox/
MANIFEST/
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage/
build/
tests/report/
